{% extends "DIYCalc/base.html" %}
{% block content %}
    <div class="page-header">
        <h1>New Material</h1>
    </div>
    <div class="container">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form }}
                <input class="btn btn-default" type="submit" value="Submit" />
 
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        $( window ).load(function() {
            $("#materialsNavLi").addClass("active");
        });
    </script>
{% endblock scripts %}






