{% extends "DIYCalc/base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="bs-component">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
                <tr onclick="$('#section{{ forloop.counter }}').toggle();">
                  <td>{{ product.name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.total }}</td>
                </tr>
                <tr id="section{{ forloop.counter }}">
                    <td colspan="3"><div class="bs-component">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Quantity</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for material in product.materials.all %}
                                <tr>
                                  <td>{{ material.name }}</td>
                                  <td>{{ material.unit.unit }}</td>
                                  <td>{{ material.quantity }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    
{% endblock content %}

{% block scripts %}
    <script>
        $( window ).load(function() {
            $("#productsNavLi").addClass("active");
            $
        });
    </script>
{% endblock scripts %}


<h1>Materials</h1>

